snippet main "C-language snippet for starting up with a program."
#include <stdio.h>

int main(int argc, char const *argv[])
{
	/* code */
	return 0;
}

endsnippet

snippet #inc "#include <lib>"
#include <lib>

endsnippet

snippet for "For loop"
for (int i = 0; i < t; i++)
{
	/* code */
}

endsnippet

snippet while "While loop"
while () 
{
	/* code */
}

endsnippet

