snippet main "C++ snippet for starting up with a program"
#include <iostream>
using namespace std;

int main(int argc, char const *argv[])
{
	/* code */
	return 0;
}

endsnippet

snippet inc "#include <lib>"
#include <>

endsnippet

snippet for "For loop"
for (int i = 0; i < t; i++)
{
	/* code */
}

endsnippet

snippet while "While loop"
while () 
{
	/* code */
}

endsnippet

